.Button {
  color: var(--primary-color);
  cursor: pointer;
}

/* stylelint-disable-next-line block-no-empty */
.default{
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px;
  border: 1px solid var(--primary-color);
  background: none;

}
