.Button {
  color: var(--primary-color);
  cursor: pointer;
}

/* stylelint-disable-next-line block-no-empty */
.default {}

.clear,
.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  padding: 10px;
  border: 1px solid var(--primary-color);
  background: none;
}