.app.dark {
  --bg-color: #0a0a53;
  --inverted-bg-color: #fafafa;
  
  --primary-color: #05a705;
  --secondary-color: #04ff04;
  --inverted-primary-color: #010dbd;
  --inverted-secondary-color: #1d2cfa;
}
